/* Add CSS Styling */
.odd-num{
    background-color: #f58caf;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second-element{
    color: #bbe4f2;
    font-size: 36px;
}

p.third{
    font-size: 24px;
}

#fourth-element{
    background-color: #c1f5ab;
    font-size: 24px;
    font-weight: bold;
}