body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  /* height: 72px; */
  background: darkmagenta;
  color: white;
}

.footer {
  /* height: 72px; */
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* my work starts here */
body{
  display: flex;
  flex-direction: column;
}

.header{
  font-weight: 900;
  font-size: 32px;
  padding: 15px;
}

.footer{
  text-align: center;
  padding: 30px;
}

.main-content{
  display: flex;
  flex: 1;
}

.sidebar{
  padding: 10px;
  min-width: 300px;
  flex: 1 0;
}

.cards-section{
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 30px;
}

.card{
  padding: 15px;
  width: 300px;
}


ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

ul li{
  padding: 10px 5px; 
}

a{
  text-decoration: none;
  color: white;
}